/build
*.keystore
src/main/cpp/vibrafp/third_party/fftw-android/
/release/app-release.apk
/release/baselineProfiles/0/app-release.dm
/release/baselineProfiles/1/app-release.dm
/release/output-metadata.json
/google-services.json
